.navbarContainer {
  font-weight: 300;
  font-family: "Roboto", sans-serif;

  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  justify-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: #99aab5;
}
.navbarLeft {
  margin-left: 20px;
  font-weight: 300;
  border-bottom: 1px solid gray;
}
.navbarRight {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  justify-content: space-between;
}
.navbarRight a {
  color: #99aab5;
  margin-right: 20px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.5s;
  transition: border-bottom 0.5s;
}
.navbarRight a:hover {
  color: rgb(235, 43, 43);
  border-bottom: 1px solid rgb(212, 33, 48);
}
